!!! 5
html(lang='JP')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='format-detection', content='telephone=no')
    link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
    link(rel='apple-touch-icon', href='/images/apple-touch-icon.png')
    link(rel='stylesheet', href='/stylesheets/screen.css', type='text/css', media='screen', title='no title', charset='utf-8')
    script(src='/javascripts/jquery.js', type='text/javascript', charset='utf-8')
    script(src='/javascripts/ticker.js', type='text/javascript', charset='utf-8')
    script(type='text/javascript')
      $(function(){
      $(".ticker li").newsTicker({type:"longitudinally"});
      });
    title imakita[イマキタ]
  body!= body
